html,body
{
    overflow-x: hidden; 
}
body {
    position: relative;
    background-color:rgba(238, 238, 238, 0.521);
    font-family: 'Open Sans', sans-serif;
}
.logo > img {
    width: 100%;
    height: 100%;
    max-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10%;
    margin-right: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
}
#title{
    margin-left: 3%;
    margin-right: 20%;
   
}
a {
    color: #000;
    text-decoration: none;
}
nav {
    font-weight: 400;
    margin-left: 5%;
    
}
nav > ul {

    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
li {
    list-style: none;
    display: list-item;
    
}
header {
    width: 100%;
    position: fixed;
   
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    
    align-items: center;
    background-color: rgb(4, 189, 170); 
    
}
.text-center{
    text-align: center;
    color: black;
}
input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
}
input[type='submit'] {
    max-width: 120px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: rgb(0,136,122,0.6);
}
form {
    display: block;
    margin-top: 0em;
}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 150px;
    margin-top: 50px;
}
.grid > img {
    width: 100%;
    height: 100%;
    max-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 25%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.grid {
    display: flex;
    margin-top: 20px;
}
#information .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120px;
    width: 50vw;
    padding: 5px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#how-do-vaccines-work {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
#choose-time-to-be-immunized {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}
.immu-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    
}
.immu-time > button {
    border: 0;
    margin: 15px 0;
    background-color: rgb(4, 189, 170);
    font-weight: 400;
}
.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}